// {{.Repo.Description}}
package {{.RepoName}}

// # TODO: remove or rename `{{.RepoName}}.Func` function

// # TODO: configure issues & PR in Code Climate
// # You can configure settings [here](https://codeclimate.com/repos/{{.CC_REPO_ID}}/edit)

// Func answers
func Func() int {
	return 42
}